.body,html{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    width: 100%;
}

.ecograder{
    display: flex;
    background-color: white;
    height: 60vh;
    justify-content: center;
    align-items: center;
}

.green-div{
    width: 100%;
    max-width: 1180px;
    height: 250px;
    border-radius: 12px;
    background-color: #C9F001;
}

.green-head{
    width: 622.89px;
    height: 88px;
}

.green-head h1{
    font-family: Inter;
    font-weight: 500;
    font-size: 36px;
    line-height: 43.57px;
    color: #000000;
    margin-top: 80px;
    margin-left: 50px;
}

.ecograder-btn button{
    background-color: #1E1E1E;
    width: 412px;
    height: 64px;
    border-radius: 6px;
    padding: 20px, 40px, 20px, 40px;
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    line-height: 24.2px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}

.ecograder-btn{
    position: absolute;
    margin-left:670px;
    margin-top: -75px;
}

.arrow-icn{
    position: absolute;
    margin-left: -40px;
    margin-top: 20px;
    color: #FFFFFF;
}