  :root {
    --primary-font: Inter;
    --primary-font-weight: 500;
    --primary-font-size: 50px;
    --primary-line-height: 60px;
    --primary-color: #000000;
  }
  
  .body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
  }
  
  .sustainablewebsites {
    width: 100%;
    height: 90vh;
  }
  
  .wrapper2 {
    display: flex;
    margin-left: 210px;
    margin-top: 50px;
  }
  
  .bussiness h1 {
    font-family: var(--primary-font);
    font-weight: var(--primary-font-weight);
    font-size: var(--primary-font-size);
    line-height: var(--primary-line-height);
    color: var(--primary-color);
    width: 800px;
    margin-left: 260px;
  }
  
  .horizontal-dashed-line {
    border-bottom: 2px dashed var(--primary-color);
    width: 70%;
    margin-top: 10px;
    position: absolute;
    margin-left: 250px;
  }